/* Base styles */
* { box-sizing: border-box; /* The * makes this property apply to all elements */ }

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  letter-spacing: 9%;
}

.wrap {
  padding: 16px 0;
}

/* Title properties */
h1 {
    text-align: center; /* centralize the title */
    letter-spacing: .5px; /* extra spacing in between letters */
    margin: 0; /* controls external space at top right bottom respectively */
    padding: 28px 24px 16px;
    font-size: clamp(24px, 4vw, 36px);
}

/* Grid's properties */
.container-columnas {
  display: flex; /* converts to CSS grid */
  gap: 20px;
  display: flex;
  font-weight: bold;
  color: var(--white);
}

.paleta {
    list-style: none; /* erase the by-default circle list format  */
    padding: 0; /* restarts the pattern space browser puts on lists */
    margin: 24px; /* restarts the pattern space browser put on lists */
    font-size: 18px;
}

/* Colors - Each class applies a specific text color to the <li> elements */
.cool-gray  { color: #6B7280; }   /* cool gray */
.warm-gray  { color: #78716C; }   /* warm gray */
.amber      { color: #F59E0B; }   /* amber (golden) */
.green      { color: #22C55E; }   /* green */
.cyan       { color: #06B6D4; }   /* cyan (bright turquoise) */
.yellow     { color: #EAB308; }   /* yellow */
.emerald    { color: #10B981; }   /* emerald (greenish) */
.sky        { color: #0EA5E9; }   /* sky blue */
.orange     { color: #F97316; }   /* orange */
.lime       { color: #84CC16; }   /* lime green */
.teal       { color: #14B8A6; }   /* teal */
.fuchsia    { color: #D946EF; }   /* fuchsia (pink-purple) */
.pink       { color: #EC4899; }   /* pink */
.rose       { color: #F43F5E; }   /* rose (deep pink-red) */
.blue-gray  { color: #64748B; }   /* blue gray */
.purple     { color: #A855F7; }   /* purple */
.violet     { color: #8B5CF6; }   /* violet */
.indigo     { color: #6366F1; }   /* indigo */
.blue       { color: #3B82F6; }   /* blue */
.red        { color: #EF4444; }   /* red */